*.html @timgeisser @DeanRothStudHSLU @Mohammad-Mobeen-Saleh
*.css @timgeisser @DeanRothStudHSLU @Mohammad-Mobeen-Saleh
*.js @timgeisser @DeanRothStudHSLU @Mohammad-Mobeen-Saleh

.github/workflows/ @timgeisser @DeanRothStudHSLU
.github/pull_request_template.md @DeanRothStudHSLU @Mohammad-Mobeen-Saleh
.github/CODEOWNERS @timgeisser @DeanRothStudHSLU

README.md @DeanRothStudHSLU @Mohammad-Mobeen-Saleh
docs/ @DeanRothStudHSLU @Mohammad-Mobeen-Saleh
*.pptx @DeanRothStudHSLU @Mohammad-Mobeen-Saleh
*.docx @DeanRothStudHSLU @Mohammad-Mobeen-Saleh
