*.html @Tomo544 @timgeisser
*.css @Tomo544 @timgeisser
*.js @Tomo544 @timgeisser
.github/workflows/ @timgeisser @Tomo544
.github/pull_request_template.md @timgeisser @Tomo544
.github/CODEOWNERS @timgeisser @Tomo544
README.md @poUsername @timgeisser
docs/ @poUsername @timgeisser
*.pptx @poUsername @timgeisser
*.docx @poUsername @timgeisser
